    :root {
        --orange: #f29f05;

        --sea: #5ec7ff;

        --dark: #0f172a;
        --white: #ffffff;
        --sand: #c7cedd;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100%;
        overflow-x: hidden;
        font-family: 'Poppins', sans-serif;
    }